:root {
  --bs-body-bg: #13151a;
  --bs-heading-color: white;
}
html {
  font-family: system-ui, sans-serif;
  background-size: 224px;
  height: 100%;
}

body {
  height: 100%;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
a {
  text-decoration: none;
}
