---
interface Props {
  identifier: string;
}

const { identifier } = Astro.props;
---

<div class="tile" id={identifier}>
  <div class="x1"></div>
  <div class="x2"></div>
  <div class="o"></div>
</div>

<style lang="scss">
  .tile {
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .x1,
    .x2 {
      position: absolute;
      content: "";
      height: 10px; /* cross thickness */
      background-color: black;
      opacity: 0;
      transition: all 0.1s ease-in-out;
    }

    .x1 {
      transform: rotate(45deg);
    }

    .x2 {
      transform: rotate(-45deg);
    }

    .o {
      height: 80%;
      width: 80%;
      border: solid black 10px;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.1s ease-in-out;
    }
  }

  .tile.tile-x {
    .x1,
    .x2 {
      width: 100%;
      opacity: 1;
    }
  }

  .tile.tile-o {
    .o {
      opacity: 1;
    }
  }
</style>
