---
interface Props {
  identifier: string;
}

const { identifier } = Astro.props;
import Ximage from "@assets/X.svg";
import Oimage from "@assets/O.svg"
---

<div class="tile" id={identifier}>
  <div class="front">
    <div class="x-container">
      <img src={Ximage.src} alt="X"/>
    </div>
    <div class="o-container">
      <img src={Oimage.src} alt="O"/>
    </div>
  </div>
  
</div>

<style lang="scss">

  

  .x-container, .o-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    img {
      width: 70%;
      height: 70%;
    }
  }


  .tile {
    height: 100px;
    width: 100px;
    position: relative;
    background: hsl(193, 100%, 19%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;

    .front {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      font-size: 1.25rem;
      background: hsl(193, 100%, 36%);
      color: white;
      transform: translateY(-6px);
      will-change: transform;
      transition: transform, background-color 0.2s ease-in-out;
    }

    &:hover {
      .front {
        transform: translateY(-7px);
      }
    } 

    &:active .front {
      transform: translateY(-2px);
    }

    

    @media only screen and (min-width: 800px) {
      height: 150px;
      width: 150px;
    }

    @media only screen and (min-width: 1200px) {
      height: 200px;
      width: 200px;
    }

  }

  .tile.tile-x {
    .x-container {
      opacity: 1;
    }
  }

  .tile.tile-o {
    .o-container {
      opacity: 1;
    }
  }

  .tile.tile-winner {
    .front {
      background-color: hsl(193, 88%, 74%);
    } 
  }
</style>
